@import url(https://fonts.googleapis.com/css?family=Roboto);

}
/*remove scrollbar */
html {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
	width: 0px; /* For Chrome, Safari, and Opera */
}

body {
	height: 100vh;
	width: 100vw;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	background:radial-gradient(rgb(28, 11, 51) 10%, rgb(11, 2, 24) 45%);
}

.corp{position: absolute;
	left:20%;
	top:100px;
	color: #03e9f4}



nav#menu.scrolled {
  	margin: 0;
  	position: fixed;
  	top: 0;
}

nav#menu.scrolled ul li {
  	margin: 0;
}

nav#menu.scrolled h1#sitename {
	  opacity: 1;
}


/* CAROUSEL */
/*

*, ::after, ::before {
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
}

*/
/* Nav bar */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  margin: 0;
}



.nav-type {
  list-style-type: none;
  display: flex;
  padding: 5px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, rgb(45, 205, 223), rgb(88, 208, 221), rgb(129, 226, 236), rgb(28, 177, 194),rgb(34, 192, 209));
  animation: 12s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px rgba(51, 234, 255, 1);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

.fa-search{
  transition: 1s;
  cursor: pointer;
  margin-left: 30px;
}

.active {
  transition: 1s;
}

.active1{
  transition: 1s;
}

.active2 {
  transition: 1s;
}

.active3 {
  transition: 1s;
}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
  text-shadow: whitesmoke;
}

/* position de la bar */
.navigation {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7%;
  left: 50%;
}

/* effet de surbrillance quand la souris passe sur les mots */




@keyframes myFlash {
  0% {
    opacity: 1;
    text-shadow: transparent;
  }
  
  50% {
    opacity: .1;
  }
  
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #fff;
  }
}

@keyframes myLinear {
  0%{
    width: 50px;
  }
  
  100% {
    width: 250px;
  }
}

.flash-GIF {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff5959;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 10%;
  box-shadow: 2px 2px 20px #d4267d;
  animation: 1.6s myFlash linear infinite;
}

@keyframes myFlash{
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .1;
  }
  
  100% {
    opacity: 1;
  }
}


nav {
  transition: 3s;
  animation: 3s myAnimation ease linear;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.nav-type {
  animation: 3s myWorld ease linear;
}

@keyframes myWorld {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@media(max-width: 767px) {
  .flash-GIF {
    display: none;
  }
  
    
  
  .navigation {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .text-content-fluid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
  }